/* Taken from https://stackoverflow.com/questions/107936/how-to-add-some-non-standard-font-to-a-website and imported a custom font*/
@font-face {
    font-family: Haunt;
    src: url(../Font/Scary\ House.ttf) format("truetype");
}

body{
    font-family: Haunt;
    color:ivory;
    background-size: cover;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    filter: brightness(30%)
  }

  .content {
    position: fixed;
    color: ivory;
    top:0;
    width: 100%;
    height: auto;
    
  }

/* implemented animation code from https://www.sitepoint.com/css-typewriter-effect/ to give my website a suspenseful feel when playing. Gives text a type writer feel.*/


@keyframes blink {
    from { border-color: transparent }
    to { border-color: smokewhite; }
  }
  



@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }





.header{

overflow: hidden;
white-space: nowrap;
border-right: .15em solid whitesmoke;
animation: typing 8s steps(200, end) forwards,  blink .8s infinite;
width: 0;
font-size: 20px;
font-weight: 800;
color: whitesmoke;
position: relative;
margin-top: 0;
padding-top: 30px;
padding-bottom: 30px;
background: rgba(0, 0, 0, 0.6);
display:inline-block;

}



#cut{
position: fixed;
visibility:hidden;
top:190px;
left:620px;
transform: rotate(-12deg);

}

#loosen{
position: fixed;
visibility:hidden;
top:500px;
left:490px;
transform: rotate(-12deg);
    
}

#lazy{
position: fixed;
visibility:hidden;
top:385px;
left:920px;
transform: rotate(-12deg);

}

a{
font-size: 20px;
font-weight: 800;
line-height: 30px;
word-wrap: break-word;
max-width: 100px;
text-decoration:none;
text-align: center;
color:ivory;
}

a:hover{
color:red;
}
